flow.txt
[{"id":"6a7c4e43.23e6b","type":"tab","label":"workspace","disabled":false,"info":""},{"id":"404d369d.b2edd8","type":"inject","z":"6a7c4e43.23e6b","name":"runtime","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"runtime","payload":"4","payloadType":"num","x":150,"y":160,"wires":[["183af38.dd9f00d"]]},{"id":"ac4bbd65.2ae1a","type":"inject","z":"6a7c4e43.23e6b","name":"delay","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"delay","payload":"3","payloadType":"num","x":150,"y":120,"wires":[["183af38.dd9f00d"]]},{"id":"6d76182a.0a4808","type":"comment","z":"6a7c4e43.23e6b","name":"Flow","info":"","x":140,"y":80,"wires":[]},{"id":"98bada10.1472d8","type":"inject","z":"6a7c4e43.23e6b","name":"runtime","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"runtime","payload":"2","payloadType":"num","x":150,"y":300,"wires":[["2627e607.1ad5ea"]]},{"id":"c9bbfd2.13e4c","type":"inject","z":"6a7c4e43.23e6b","name":"delay","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"delay","payload":"3","payloadType":"num","x":150,"y":260,"wires":[["2627e607.1ad5ea"]]},{"id":"65ff7de4.56a4d4","type":"comment","z":"6a7c4e43.23e6b","name":"Bypass","info":"","x":140,"y":220,"wires":[]},{"id":"3e9d9749.d7f7c8","type":"inject","z":"6a7c4e43.23e6b","name":"runtime","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"runtime","payload":"1","payloadType":"num","x":150,"y":440,"wires":[["a8c7d9c0.fe5cd8"]]},{"id":"6a30cd57.1f7e34","type":"inject","z":"6a7c4e43.23e6b","name":"delay","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"delay","payload":"4","payloadType":"num","x":150,"y":400,"wires":[["a8c7d9c0.fe5cd8"]]},{"id":"4771a028.722f4","type":"comment","z":"6a7c4e43.23e6b","name":"Purge","info":"","x":140,"y":360,"wires":[]},{"id":"183af38.dd9f00d","type":"function","z":"6a7c4e43.23e6b","name":"pass if delay & runtime exist","func":"var Flow = flow.get(\"flow\") || {\"delay\":undefined,\"runtime\":undefined};\nFlow[msg.topic]=msg.payload;\nflow.set(\"flow\",Flow);\nif(Flow.delay !== undefined && Flow.runtime !== undefined){\n    msg.payload = Flow;\n    node.send(msg);\n} ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[["6ae504b9.93cf0c"]]},{"id":"2627e607.1ad5ea","type":"function","z":"6a7c4e43.23e6b","name":"pass if delay & runtime exist","func":"var Bypass = flow.get(\"bypass\") || {\"delay\":undefined,\"runtime\":undefined};\nBypass[msg.topic]=msg.payload;\nflow.set(\"bypass\",Bypass);\nif(Bypass.delay !== undefined && Bypass.runtime !== undefined){\n    msg.payload = Bypass;\n    node.send(msg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":280,"wires":[["6eb389c8.ddc148"]]},{"id":"a8c7d9c0.fe5cd8","type":"function","z":"6a7c4e43.23e6b","name":"pass if delay & runtime exist","func":"var Purge = flow.get(\"purge\") || {\"delay\":undefined,\"runtime\":undefined};\nPurge[msg.topic]=msg.payload;\nflow.set(\"purge\",Purge);\nif(Purge.delay !== undefined && Purge.runtime !== undefined){\n    msg.payload = Purge;\n    node.send(msg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":420,"wires":[["d6e22621.554848"]]},{"id":"6eb389c8.ddc148","type":"debug","z":"6a7c4e43.23e6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"6ae504b9.93cf0c","type":"debug","z":"6a7c4e43.23e6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"d6e22621.554848","type":"debug","z":"6a7c4e43.23e6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":550,"y":420,"wires":[]},{"id":"2f1359ad.4a2ee6","type":"inject","z":"6a7c4e43.23e6b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"mode","payload":"true","payloadType":"bool","x":800,"y":120,"wires":[["29c166e0.088e0a"]]},{"id":"f7f568bc.f509a8","type":"comment","z":"6a7c4e43.23e6b","name":"Auto / Manual","info":"true : Auto\nfalse : Manual","x":810,"y":80,"wires":[]},{"id":"c1fd0ae7.d9f028","type":"inject","z":"6a7c4e43.23e6b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"mode","payload":"false","payloadType":"bool","x":800,"y":160,"wires":[["29c166e0.088e0a"]]},{"id":"29c166e0.088e0a","type":"function","z":"6a7c4e43.23e6b","name":"mode set","func":"flow.set(msg.topic, msg.payload);\nmsg.payload = [msg.topic, msg.payload]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":120,"wires":[["3af2cecd.129d02"]]},{"id":"3af2cecd.129d02","type":"debug","z":"6a7c4e43.23e6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1130,"y":120,"wires":[]},{"id":"7cb3b42a.6a204c","type":"inject","z":"6a7c4e43.23e6b","name":"신호(자동)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":580,"wires":[["89dafeeb.24e55"]]},{"id":"89dafeeb.24e55","type":"function","z":"6a7c4e43.23e6b","name":"main","func":"var Flow = flow.get(\"flow\") || {};\nvar Bypass = flow.get(\"bypass\") || {};\nvar Purge = flow.get(\"purge\") || {};\nconst mode = flow.get(\"mode\");\nif(JSON.stringify(Flow).length===0 || JSON.stringify(Bypass).length===0 || JSON.stringify(Purge).length===0){\n  return {\"topic\":\"error\",\"payload\":\"time setting error\"};\n} else if(msg.payload === \"\" && mode===false){\n  return {\"topic\":\"error\",\"payload\":\"turn into Manual mode\"};\n} else if(msg.payload !== \"\" && mode===true){\n  return {\"topic\":\"error\",\"payload\":\"turn into Auto mode\"};\n}\n\nif(mode){\n  auto();\n} else{\n  manual();\n}\n\nfunction auto(){\n  setTimeout(()=>{\n    node.send({\"topic\":\"flow\", \"payload\":1});\n    setTimeout(()=>{\n      node.send({\"topic\":\"flow\", \"payload\":0});\n      setTimeout(()=>{\n        node.send({\"topic\":\"bypass\", \"payload\":1});\n        setTimeout(()=>{\n          node.send({\"topic\":\"bypass\", \"payload\":0});\n          setTimeout(()=>{\n            node.send({\"topic\":\"purge\", \"payload\":1});\n            setTimeout(()=>{\n              node.send({\"topic\":\"purge\", \"payload\":0});\n            },Purge.runtime*1000);\n          },Purge.delay*1000);\n        },Bypass.runtime*1000);\n      },Bypass.delay*1000);\n    },Flow.runtime*1000);\n  },Flow.delay*1000);\n}\n\nfunction manual(){\n  if(msg.payload == \"flow\"){\n    setTimeout(()=>{\n      node.send({\"topic\":\"flow\", \"payload\":1});\n      setTimeout(()=>{\n        node.send({\"topic\":\"flow\", \"payload\":0});\n      },Flow.runtime*1000);\n    },Flow.delay*1000);\n  }\n\n  if(msg.payload == \"bypass\"){\n    setTimeout(()=>{\n      node.send({\"topic\":\"bypass\", \"payload\":1});\n      setTimeout(()=>{\n        node.send({\"topic\":\"bypass\", \"payload\":0});\n      },Bypass.runtime*1000);\n    },Bypass.delay*1000);\n  }\n\n  if(msg.payload == \"purge\"){\n    setTimeout(()=>{\n      node.send({\"topic\":\"purge\", \"payload\":1});\n      setTimeout(()=>{\n        node.send({\"topic\":\"purge\", \"payload\":0});\n      },Purge.runtime*1000);\n    },Purge.delay*1000);\n  }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":580,"wires":[["17e588ab.b3d817"]]},{"id":"17e588ab.b3d817","type":"switch","z":"6a7c4e43.23e6b","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"flow","vt":"str"},{"t":"eq","v":"bypass","vt":"str"},{"t":"eq","v":"purge","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":580,"wires":[["748b60ca.709a5"],["1af3f258.edb41e"],["9793f7f4.3f10b8"],["bb38bb1d.04e1d8"]]},{"id":"748b60ca.709a5","type":"debug","z":"6a7c4e43.23e6b","name":"flow","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":480,"wires":[]},{"id":"1af3f258.edb41e","type":"debug","z":"6a7c4e43.23e6b","name":"bypass","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":660,"y":540,"wires":[]},{"id":"9793f7f4.3f10b8","type":"debug","z":"6a7c4e43.23e6b","name":"purge","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":600,"wires":[]},{"id":"bb38bb1d.04e1d8","type":"debug","z":"6a7c4e43.23e6b","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":660,"wires":[]},{"id":"4d49e030.73d68","type":"comment","z":"6a7c4e43.23e6b","name":"Manual","info":"","x":130,"y":640,"wires":[]},{"id":"df1675c5.fda7b8","type":"debug","z":"6a7c4e43.23e6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":660,"wires":[]},{"id":"4cd9e21d.f7964c","type":"function","z":"6a7c4e43.23e6b","name":"timer","func":"var time = 1;\nnew Promise(()=>(setInterval(()=>{\n  if(time<20){\n    node.send({\"payload\":time+\"초\"});\n    time++;\n  }\n}, 1000)))\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":660,"wires":[["df1675c5.fda7b8"]]},{"id":"5441db4b.e01114","type":"inject","z":"6a7c4e43.23e6b","name":"flow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"manual","payload":"flow","payloadType":"str","x":130,"y":680,"wires":[["89dafeeb.24e55"]]},{"id":"75bbab06.f28354","type":"inject","z":"6a7c4e43.23e6b","name":"bypass","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"manual","payload":"bypass","payloadType":"str","x":130,"y":720,"wires":[["89dafeeb.24e55"]]},{"id":"a56ec611.0f41a8","type":"inject","z":"6a7c4e43.23e6b","name":"purge","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"manual","payload":"purge","payloadType":"str","x":130,"y":760,"wires":[["89dafeeb.24e55"]]},{"id":"14efaabb.fc1f95","type":"inject","z":"6a7c4e43.23e6b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":800,"y":300,"wires":[["b520cabe.6ed1b8"]]},{"id":"b520cabe.6ed1b8","type":"function","z":"6a7c4e43.23e6b","name":"mode status","func":"var mode;\n\nif(flow.get(\"mode\")){\n    mode = \"자동\";\n} else{\n    mode = \"수동\";\n}\n\nmsg.payload = \"현재 모드는 \"+mode+\"입니다.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":300,"wires":[["e233e488.1774a8"]]},{"id":"e233e488.1774a8","type":"debug","z":"6a7c4e43.23e6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":300,"wires":[]}]